= form_for(@question) do |f|
  - if @question.errors.any?
    #error_explanation
      %h2
        = pluralize(@question.errors.count, "error")
        prohibited this question from being saved:
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.text_area :question, :class => 'form-control'
    
  - 4.times.each do |i|
    = f.fields_for :alternatives, @question.alternatives[i] ||Question.new.alternatives.build do |c| 
      .form-group
        .row
          .col-md-9
            %p= "Alternativa #{i + 1}"
            = c.text_field :alternative, :class => 'form-control'
          .col-md-3
            %p Correcta
            = c.check_box :correct

  .form-group
    .actions
      = f.submit "Guardar", :class => 'btn btn-primary'