<div class="container">

<% @questions.each do |question| %>
  <div class="row">
  <%= question.question %>
    <%= link_to 'Show', question %>
    <%= link_to 'Edit', edit_question_path(question) %>
    <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>


<%= link_to 'New Question', new_question_path %>
</div>