<div class="container">
<%= link_to 'New Question', new_question_path %>
<% @questions.each do |question| %>
  <div class="well">
  <div class="row">
  	<div class="col-md-9">
	  	<p> <%= question.question %> </p>
	  	<ol> 
	  		<% question.alternatives.each do |alt| %>
		  		<li> <%= alt.alternative %> 
		  		<% if alt.correct %>
		  			<span class="label label-success"> Correcta </span>
		  		<% end %>
		  		</li>
	  		<% end %>
	  	</ol>
	</div>
	<div class="col-md-3">
	    <li> <%= link_to 'Show', question %> </li>
	    <li> <%= link_to 'Edit', edit_question_path(question) %> </li>
	     <li> <%= link_to 'Destroy', question, method: :delete, data: { 	confirm: 'Are you sure?' } %> </li>
	   	</ul>
   	</div>
   	</div>
  </div>
<% end %>


</div>