.box{:style => 'text-align:center'}
  .container
    %h1 Los mejores puntajes de hoy


.container
  .row{:style => 'margin-top:30px'}
    .col-md-6{:style => 'border:white solid; border-width: 0 1px 0 0'}
      %h3 Top 20 puntajes de la semana

      %table.table.table-striped.table-responsive
        - @games.each_with_index do |g, i| 
          .row
            %h5
              = g.user.name + ": "
              = pluralize(g.score, "punto")
              -if i == 0
                %i.glyphicon.glyphicon-certificate{:style => 'color:gold'}
              -if i == 1
                %i.glyphicon.glyphicon-certificate{:style => 'color:silver'}
              -if i == 2
                %i.glyphicon.glyphicon-certificate{:style => 'color:rgb(193, 123, 81)'}

              = " | "
              = time_ago_in_words(g.created_at)
  

    .col-md-6{:style => 'text-align:right'}
      %h3 Desafía a un amigo 
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="icon" data-width="100" style="background-color:white; padding:5px 10px 10px 10px "></div>
  
  .row
    .div{:'data-no-turbolink' => '', :style => 'margin-top:50px'}
      = link_to "Vamos por la revancha", new_game_path, :class => 'btn btn-large btn-warning col-md-4 col-md-offset-4', :style => 'border-radius:0px; color:white'
